/*
Challenge: 
Add some space between the logo 
and the search field.

What are the two different ways 
we can do this with margins?

*/

.main {
    margin-top: 100px;   
}

.logo-img {
    display: inline;
    width: 300px;
    margin-bottom: 30px;
}

.search-input {
    display: block;
    width: 400px;
}
