
/*
Challenge:
Center the logo and the search field.
*/
.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 303px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.search-input {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
