/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: #000080;     /* red, blue, yellow, etc */
    color: orange;             /* red, blue, yellow, etc */
    font-size: 50px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: right;      /* left, center or right  */ 
    margin-top: 50px;        /* From 0px and upwards   */
}





