 
button {
    color: #0f1419;
    border: 1px solid #cfd9de;
    border-radius: 20px;
    background: white;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    
} 

/*
Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/