.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    padding: 20px;

    border: 3px solid #222222;
    border-radius: 20px;


}
